* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
header, h1, .flecha {
  background: linear-gradient(rgba(5, 7, 12 ,0.75), rgba(5, 7, 12, 0.75)),
    url(./img/photo-1542831371-29b0f74f9713.png);
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}
ul {
  margin: 0;
  padding: 0;
} 
li {
  padding: 0.75rem;
  list-style-type: none;
  display: inline-block;
}
nav {
  height: 3rem;
}
nav, h1, h2, h4 {
  text-align: center;
}
h1 {
  margin: 0;
  padding: 4rem 0 1rem;
}
a {
  text-decoration: none;
  color: white;
}
hr {
  margin: 0;
}
i {
  margin: 0 50%;
  position: relative;
  animation: flecha 2s infinite;
}
@keyframes flecha {
  0%   {top: 5px;}
  25%  {top: 15px;}
  75%  {top: 5px}
  100% {top: 5px;}
}
.col {
  padding: 0;
  height: 10rem;
}
.flecha {
  margin: 0;
  padding: 3rem 0 1rem;
}
.carousel {
  background-color: gainsboro;
  box-shadow: 0 -3px 5px 1px rgb(172, 152, 152);
}


